:root {
    --text-black: #25252B;
    --text-gray: #8C8C8D;
    --text-primary: #7A0000;
    --color-hover: #192236;
    --bg-image: #202030;
}

@view-transition {
    navigation: auto;
}

@media (prefers-reduced-motion: reduce) {
    @view-transition {
        navigation: none;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;

    &.no-scroll {
        overflow: hidden;
    }
}

html,
body {
    min-height: 100%;
    position: relative;
}

body {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    color: var(--text-black);
    font-size: 1rem;
    font-family: 'Montserrat', serif;
    line-height: 1.3;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    @include _840 {
        font-size: 0.95rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    font-family: 'Oswald', serif;
    font-weight: normal;
}

h1,
.title {
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    @include _840 {
        font-size: 28px;
    }
}

h2,
.title-page {
    font-size: 36px;
    margin-bottom: 50px;
    text-transform: uppercase;
    @include _840 {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

h3 {
    font-size: 24px;
    @include _840 {
        font-size: 20px;
    }
}

img {
    display: block;
    max-width: 100%;
}

a:not(.btn) {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: var(--text-primary);
        text-decoration: underline;
    }
}

section {
    margin-bottom: 100px;
    @include _840 {
        margin-bottom: 50px;
    }
}

.m-0 {
    margin: 0;
}

p {
    margin: 1em 0;

    & + p {
        margin-top: 1.5em;
    }
}

input:not([type='checkbox']),
textarea,
select {
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid;
    color: inherit;
    font-size: 16px;
    font-weight: 500;
    outline: none;
    padding: 15px 30px;
    width: 100%;
    @include _840 {
        padding: 15px;
    }

    &::placeholder {
        color: #bfbfbf;
    }

    &:focus {
        border-color: var(--text-primary);
    }

    option {
        color: var(--text-black);
        font-size: 110%;
    }
}

input[type="checkbox"] {
    accent-color: var(--text-primary);
}

input[type="date"] {

    &::-webkit-calendar-picker-indicator {
        filter: invert(1);
    }
}

textarea {
    resize: none;
}

.form-row {
    margin: 0 auto 30px;
    max-width: 540px;
    text-align: left;

    .label {
        display: inline-block;
        margin-right: 20px;
    }

    &.input-custom {
        border-bottom: 2px solid;
        color: inherit;
        outline: none;
        padding: 15px 30px;
        margin: 0 auto 20px;
        max-width: 540px;
        text-align: left;
        width: 100%;
        @include _840 {
            padding: 15px;
        }

        label + label {
            margin-left: 10px;
        }
    }
}

.date-custom {
    display: flex;
    align-items: flex-end;

    label {
        border-bottom: 2px solid;
        flex: 1 1 100%;
        padding-left: 30px;
        padding-bottom: 15px;
        @include _840 {
            padding-left: 15px;
        }
    }
}

.form-action {
    margin-top: 40px;
}

.main {
    flex: 1 1 100%;
}

.container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1210px;
    width: 100%;
}

.line-30 {
    line-height: 30px;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: var(--text-primary);
}

.text-muted {
    color: var(--text-gray);
}

.btn {
    border: 2px solid var(--text-primary);
    background-color: var(--text-primary);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 13px 74px;
    line-height: 1.2;
    font-family: 'Oswald', serif;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

    &--primary {
        transition: .2s ease;

        &:hover {
            background-color: transparent;
            border-color: #fff;
        }
    }

    &--secondary {
        transition: .2s ease;

        &:hover {
            background-color: var(--color-hover);
            border-color: var(--color-hover);
        }
    }

    &--wide {
        width: 100%;
    }
}

#backToTop {
    appearance: none;
    position: fixed;
    right: 18px;
    bottom: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;

    border: 4px solid var(--text-primary);
    border-radius: 50%;

    background-color: var(--text-primary);
    color: white;
    font-size: 24px;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;

    text-align: center;
    transition: 0.2s;
    z-index: 1000;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop:hover {
    background-color: var(--color-hover);
}

.breadcrumbs {
    background-image: url(../img/crumbs-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 160px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    @include _840 {
        height: auto;
        min-height: 100px;
        padding: 0 20px;
        margin-bottom: 30px;
    }

    &__list {
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 36px;
        @include _840 {
            flex-wrap: wrap;
            gap: 20px;
        }

        li {
            color: #fff;
            position: relative;

            &:not(:last-child) {
                &::after {
                    content: '';
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSIxMSIgdmlld0JveD0iMCAwIDcgMTEiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik02LjA4ODg3IDUuNTA1NDlMMS4wMDAyMyAwLjk5OTk3OCIgc3Ryb2tlPSIjOTI5MjkyIi8+CjxwYXRoIGQ9Ik0xIDEwLjAwMDFMNi4wODg2MyA1LjQ5NDYxIiBzdHJva2U9IiM5MjkyOTIiLz4KPC9zdmc+Cg==");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    position: absolute;
                    top: 4px;
                    right: -22px;
                    height: 10px;
                    width: 10px;
                }
            }

            &:last-child {
                color: #929292;
                pointer-events: none;
            }

            a {

                &:hover {
                    color: #fff;
                }
            }
        }
    }
}

.socials {
    display: flex;
    align-items: center;
    justify-content: space-around;

    a {
        color: var(--text-primary);
        line-height: 1;
        transition: .2s ease;

        &:hover {
            color: var(--color-hover);
        }
    }

    svg {
        display: inline-block;
        height: 20px;
        width: 20px;
    }
}

.share {
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 30px 0;
    margin: 30px 0;

    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: inline-block;
            line-height: 1;
        }

        li {
            margin: 0 16px;
            height: 40px;
            width: 40px;

            &:hover {
                opacity: .8;
            }
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.hero {
    background-color: var(--bg-image);
    color: #fff;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 200px;
    @include _840 {
        height: auto;
        padding: 30px 20px;
        margin-right: -20px;
        margin-left: -20px;
    }

    p {
        line-height: 1.5;
    }
}

.wine-art {
    display: flex;
    gap: 120px;
    margin-bottom: 120px;
    @include _840 {
        gap: 50px;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    h2 {
        margin-top: 0;
    }

    &__img {
        position: relative;
        flex: none;
        @include _840 {
            width: 100%;
        }

        .art-absolute {
            border: 15px solid #fff;
            border-right: none;
            position: absolute;
            top: 350px;
            right: 0;
            @include _840 {
                top: auto;
                bottom: -50px;
                width: 50%;
            }
        }
    }
}

.about-list {
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 80px 0 70px;
    @include _840 {
        flex-wrap: wrap;
        margin: 40px 0 35px;
    }
}

.about-item {
    flex: 1;
    text-align: center;
    @include _840 {
        flex: 1 1 100%;
    }

    .icon {
        background-color: var(--text-primary);
        height: 170px;
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 40px;
        @include _840 {
            height: 120px;
            width: 120px;
            margin-bottom: 25px;
        }
    }
}

.about-actions {
    display: flex;
    justify-content: space-around;
    @include _840 {
        flex-direction: column;
        gap: 20px;
    }

    .btn {
        flex: 1;
        max-width: 35%;
        @include _840 {
            max-width: 100%;
        }
    }
}

.wrap-image {
    background-color: var(--bg-image);
    position: relative;

    & > *:not(.wrap-image__bg) {
        position: relative;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.online {
    color: #fff;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include _840 {
        margin-right: -20px;
        margin-left: -20px;
    }
}

.team {
    position: relative;
    display: flex;
    gap: 30px;
    @include _840 {
        flex-wrap: wrap;
        gap: 0;
    }

    h2 {
        margin-top: 0;
    }

    .team-text {
        margin-bottom: 50px;
    }

    .team-spec {
        width: 260px;
        @include _840 {
            width: 100%;
        }
    }

    &__content {
        flex: 1;

        .teams {
            margin-top: -270px;
            @include _840 {
                margin-top: 0;
            }

            .col {
                @include _840 {
                    flex: 1 1 50%;
                }

                &:nth-child(1) {
                    margin-top: 300px;
                    @include _840 {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

.team-item {
    background-color: var(--bg-image);
    position: relative;
    height: 480px;
    width: 100%;
    min-width: 270px;
    overflow: hidden;
    @include _840 {
        height: 340px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }

    &:hover {
        &::before {
            --color-gradient: var(--text-primary);
        }
    }

    &::before {
        --color-gradient: #022449;
        background-image: linear-gradient(transparent 40%, var(--color-gradient) 100%);
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    &__text {
        color: #fff;
        font-size: 14px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 32px 10px 20px 32px;

        h4 {
            font-size: 24px;
            margin-bottom: 10px;
            text-transform: uppercase;
        }
    }
}

.team-action {
    margin-top: 60px;
    @include _840 {
        margin: 30px 0;
    }
}

.teams {
    display: flex;
    gap: 30px;
    flex: 1;
    @include _840 {
        flex-wrap: wrap;
        flex: 1 1 100%;
    }

    .col {
        display: flex;
        flex-direction: column;
        gap: 30px;
        @include _840 {
            flex: 1 1 100%;
        }

        &:nth-child(1) {
            margin-top: 100px;
            @include _840 {
                margin-top: 0;
            }
        }
    }
}

.present {
    color: #fff;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    @include _840 {
        margin-right: -20px;
        margin-left: -20px;
    }
}

.clients {
    line-height: 30px;
    position: relative;
    min-height: 760px;

    &__inner {
        display: flex;
        gap: 30px;
        @include _840 {
            flex-wrap: wrap;
        }

        .col {
            flex: 1 1;
            @include _840 {
                flex: 1 1 100%;
            }

            &:first-child {
                p {
                    width: 75%;
                    @include _840 {
                        width: 100%;
                    }
                }
            }
        }
    }

    .slider-controls {
        position: absolute;
        left: 0;
        top: auto;
        bottom: 45px;
        @include _840 {
            position: relative;
            bottom: auto;
            justify-content: center;
        }
    }
}

.slider-clients {
    position: absolute;
    left: -20px;
    right: 0;
    padding: 40px;
    padding-left: 20px;
    padding-right: 0;
    bottom: 100px;
    @include _840 {
        position: relative;
        left: auto;
        bottom: auto;
        padding-left: 0;
        margin-top: -220px;
    }

    &__item {
        box-shadow: 0 4px 60px -20px #0000001f;

        img {
            min-width: 200px;
            height: 100%;
            width: 80%;
            margin: 0 auto;
        }
    }

    &__arrow {
        color: #25252B;
        cursor: pointer;
        padding: 10px 0;

        &:hover {
            color: var(--text-primary);
        }

        &.--prev {
            left: 0;
        }

        &.--next {
            left: 130px;
        }
    }
}

.slider-controls {
    display: flex;
    gap: 20px;
    align-items: center;

    .swiper-pagination {
        position: relative;
        font-family: 'Oswald', serif;
        font-size: 16px;
        width: 56px;

        .swiper-pagination-current {
            color: var(--text-primary);
            font-size: 24px;
            display: inline-block;
            min-width: 12px;
        }
    }
}

.tasting {

    &__inner {
        display: flex;
        align-items: center;
        gap: 90px;
        margin-bottom: 70px;
        @include _840 {
            flex-wrap: wrap;
            gap: 30px;
            margin-bottom: 40px;
        }

        img {
            max-width: 470px;
            @include _840 {
                width: 100%;
            }
        }
    }

    .text-primary {
        display: inline-block;
        font-size: 20px;
        margin-bottom: 10px;
    }
}

.program {

    &__inner {
        padding: 0;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
        gap: 60px 40px;
        @include _840 {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 20px;
        }

        h3 {
            font-size: 20px;
            @include _840 {
                font-size: 18px;
                padding: 0 10px;
            }
        }

        img {
            margin: 0 auto;
        }
    }
}

.video-block {

    video {
        width: 100%;
    }

    .video-action {
        margin-top: 50px;
        text-align: center;
    }
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-quote {
    border-left: 5px solid var(--text-primary);
    max-width: 780px;
    padding: 50px 0;
    padding-left: 90px;
    margin: 0;
    @include _840 {
        padding: 20px 0;
        padding-left: 50px;
    }

    blockquote {
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        margin: 0;
        @include _840 {
            line-height: 1.7;
            font-size: 15px;
        }
    }

    figcaption {
        color: var(--text-primary);
        font-size: 18px;
        font-style: italic;
        margin-top: 20px;
        @include _840 {
            font-size: 16px;
        }
    }
}

.form-block {
    background-image: url(../img/form-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 85px 0;
    text-align: center;
    @include _840 {
        padding: 50px 20px;
        margin: 0 -20px;
    }

    .small {
        color: #D2D2D2;
        font-size: 13px;
        margin-top: 20px;

        a {
            &:hover {
                color: inherit;
                text-decoration: underline;
            }
        }
    }
}

.condition-item {
    display: flex;
    @include _840 {
        flex-wrap: wrap;
    }

    &:not(:first-of-type) {
        margin-top: 70px;
        @include _840 {
            margin-top: 50px;
        }
    }

    .head {
        width: 100%;
        max-width: 470px;
        flex: 1 0 100%;
        padding-right: 30px;
        @include _840 {
            padding-right: 0;
            max-width: 100%;
        }

        h2 {
            margin-top: 0;
            position: sticky;
            top: 0;
            text-wrap: balance;
        }
    }

    .content {
        flex: 1;

        p {
            line-height: 26px;

            &:first-child {
                margin-top: 0;
            }

            & + p {
                margin-top: 1em;
            }

            & + ul {
                margin-top: 1em;
            }
        }

        a {
            color: var(--text-primary);
            text-decoration: underline;
        }

        ul {
            padding-left: 0;
            list-style: none;
            margin: 0;

            & ul {

                li::before {
                    background-color: var(--color-hover);
                    border-radius: 50%;
                }
            }

            li {
                line-height: 30px;
                position: relative;
                padding-left: 20px;
                margin-bottom: 5px;

                &::before {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    background-color: var(--text-primary);
                    left: 0;
                    top: 8px;
                    @include _840 {
                        top: 10px;
                    }
                }
            }
        }
    }
}

.event-wrap {

    .slider-controls {
        margin: 50px auto 40px;
        justify-content: center;
    }
}

.slider-event {

    &__item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        @include _840 {
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
        }

        a {
            display: block;
            position: relative;

            &::after {
                content: '';
                background-image: linear-gradient(transparent 40%, #022449 100%);
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        & + .event-action {
            margin-top: 50px;
        }
    }
}

.blog {

    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 30px;
    }
}

.blog-item {

    time {
        display: inline-block;
        margin-top: 10px;
        font-size: 13px;
    }

    p {
        font-size: 15px;
        margin-top: 10px;
    }
}

.image-text {
    display: grid;
    grid-template-columns: 40% auto;
    line-height: 30px;
    margin-top: 50px;
    @include _840 {
        margin-top: 30px;
        grid-template-columns: auto;
        gap: 30px;
    }

    figure {
        margin: 0;

        img {
            width: 100%;
        }
    }

    .text {
        padding: 0 40px;
        @include _840 {
            padding: 0;
        }

        p {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.overview-wrap {

    section {
        margin-top: 50px;
    }

    a:not(.btn) {
        color: var(--text-primary);
    }
}

.somelie {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

.reviews {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 30px;
}

.contact-map {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 30px;
    @include _840 {
        gap: 10px;
    }

    &__aside {
        min-width: 300px;
    }

    iframe {
        flex: 1 0;
    }
}

.contact-row {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;

    p {
        flex: 1 0;
        margin: 0;
        min-width: 260px;
    }
}