<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="header__contacts">
                <div class="col">
                    <div class="flex-row">
                        <div class="col">
                            <p class="text-muted">Москва и Санкт-Петербург</p>

                            <p class="link-icon">
                                <svg width="14" height="14" viewBox="0 0 14 14">
                                    <use href="./img/sprite.svg#include--mail"
                                        xlink:href="./img/sprite.svg#include--logo" />
                                </svg>
                                <a href="mailto:gourmetshop-present@yandex.ru">gourmetshop-present@yandex.ru</a>
                            </p>

                            <p class="link-icon">
                                <svg width="14" height="14" viewBox="0 0 14 14">
                                    <use href="./img/sprite.svg#include--mail"
                                        xlink:href="./img/sprite.svg#include--logo" />
                                </svg>
                                <a href="mailto:winetravel@gourmetshop.ru">winetravel@gourmetshop.ru</a>
                            </p>
                        </div>

                        <div class="col">
                            <p class="link-icon">
                                <img src="img/phone.png" alt="">
                                <a href="tel:+7 952 248 57 10">+7 952 248 57 10</a>
                            </p>

                            <p class="link-icon">
                                <img src="img/phone.png" alt="">
                                <a href="tel:+7 812 987 76 18">+7 812 987 76 18</a>
                            </p>

                            <p class="text-muted">ежедневно с 10.00 до 20.00</p>
                        </div>
                    </div>

                    <p class="text-muted flex-row">
                        <span>#выездныедегустации</span>
                        <span>#винныеигры</span>
                        <span>#дегустациявин</span>
                        <span>#винноеказино</span>
                    </p>
                </div>

                <div class="col flex-column">
                    <iframe class="lazy-loaded" data-lazy-type="iframe" data-src="https://yandex.ru/sprav/widget/rating-badge/227316429693" width="200" height="50" frameborder="0" src="https://yandex.ru/sprav/widget/rating-badge/227316429693"></iframe>
                    <a href="#">Обработка персональных данных</a>
                    <p>© 2017-2025 Gourmetshop.ru</p>
                </div>

                <div class="col">
                    <p class="link-icon">
                        <svg width="15" height="15" viewBox="0 0 15 15">
                            <use href="./img/sprite.svg#include--whatsapp"
                                xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <span>Написать в <a href="#">WhatsApp</a> 24/7</span>
                    </p>

                    <p class="link-icon">
                        <svg width="16" height="13" viewBox="0 0 16 13">
                            <use href="./img/sprite.svg#include--tlg"
                                xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <span>Написать в <a href="#">Telegram</a> 24/7</span>
                    </p>

                    <p class="socials">
                        <a href="#">
                            <svg viewBox="0 0 100 100">
                                <use href="../img/sprite.svg#include--vk"
                                    xlink:href="./img/sprite.svg#include--vk" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 100 100">
                                <use href="../img/sprite.svg#include--inst"
                                    xlink:href="./img/sprite.svg#include--inst" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--fb"
                                    xlink:href="./img/sprite.svg#include--fb" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--twit"
                                    xlink:href="./img/sprite.svg#include--twit" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--rutube"
                                    xlink:href="./img/sprite.svg#include--rutube" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--zen"
                                    xlink:href="./img/sprite.svg#include--zen" />
                            </svg>
                        </a>
                    </p>

                    <p class="text-muted">Разработка сайта – AristStudio</p>
                </div>
            </div>
        </div>
    </div>
</footer>
