<footer class="footer">
    <div class="container">
        <div class="footer-info">
            <p>Пожалуйста, обратите внимание:</p>
            <ul>
                <li>
                    У специальности сомелье нет пола. Это специалист, поэтому не учитываем пожелания относительно пола
                    сомелье на ваше мероприятие
                </li>
                <li>
                    Информация на сайте не является публичной офертой определяемой положениями п. 2 ст. 437 Гражданского
                    кодекса Российской Федерации
                </li>
            </ul>
        </div>

        <div class="footer__inner">
            <div class="header__contacts">
                <div class="col">
                    <p class="link-icon">
                        <svg width="14" height="14" viewBox="0 0 14 14">
                            <use href="./img/sprite.svg#include--mail"
                                xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <a href="mailto:gourmetshop-present@yandex.ru">gourmetshop-present@yandex.ru</a>
                    </p>

                    <p class="link-icon">
                        <svg width="14" height="14" viewBox="0 0 14 14">
                            <use href="./img/sprite.svg#include--mail"
                                xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <a href="mailto:winetravel@gourmetshop.ru">winetravel@gourmetshop.ru</a>
                    </p>

                    <p class="link-icon">
                        <svg width="15" height="15" viewBox="0 0 15 15">
                            <use href="./img/sprite.svg#include--whatsapp"
                                xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <span>Написать в <a href="#"><strong>WhatsApp</strong></a> 24/7</span>
                    </p>

                    <p class="link-icon m-0">
                        <svg width="16" height="13" viewBox="0 0 16 13">
                            <use href="./img/sprite.svg#include--tlg" xlink:href="./img/sprite.svg#include--logo" />
                        </svg>
                        <span>Написать в <a href="#"><strong>Telegram</strong></a> 24/7</span>
                    </p>
                </div>

                <div class="col">
                    <p class="text-muted">Москва и Московская область</p>

                    <p class="link-icon">
                        <img src="img/phone.png" alt="">
                        <a href="tel:+7 952 248 57 10">+7 952 248 57 10</a>
                    </p>

                    <p class="text-muted">работаем ежедневно с 10:00</p>

                    <p class="m-0">© 2017-2025 Gourmetshop.ru</p>
                </div>

                <div class="col flex-column">
                    <iframe class="ya-otziv" data-lazy-type="iframe"
                        data-src="https://yandex.ru/sprav/widget/rating-badge/227316429693" width="160" height="50"
                        frameborder="0" src="https://yandex.ru/sprav/widget/rating-badge/227316429693">
                    </iframe>
                    <a id="zoon_widget_210x40_light" href="https://zoon.ru/service/5f3277e15823a558513e1907/">
                        <img src="https://zoon.ru/wg/210x40/5f3277e15823a558513e1907/light/" data-lazy-type="image" data-src="https://zoon.ru/wg/210x40/5f3277e15823a558513e1907/light/" alt="Выездная студия дегустации вин Gourmetshop" title="Выездная студия дегустации вин Gourmetshop" width="210" height="40">
                    </a>

                    <a href="#">Обработка персональных данных</a>
                </div>

                <div class="col">
                    <p class="text-muted hashtag">
                        <span>#выездныедегустации</span>
                        <span>#винныеигры</span>
                        <span>#винноеказино</span>
                        <span>#дегустациявин</span>
                    </p>

                    <p class="socials">
                        <a href="#">
                            <svg viewBox="0 0 100 100">
                                <use href="./img/sprite.svg#include--vk" xlink:href="./img/sprite.svg#include--vk" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 100 100">
                                <use href="./img/sprite.svg#include--pinterest"
                                    xlink:href="./img/sprite.svg#include--pinterest" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--rutube"
                                    xlink:href="./img/sprite.svg#include--rutube" />
                            </svg>
                        </a>
                        <a href="#">
                            <svg viewBox="0 0 19 19">
                                <use href="./img/sprite.svg#include--zen" xlink:href="./img/sprite.svg#include--zen" />
                            </svg>
                        </a>
                    </p>

                    <p class="text-muted m-0">Разработка сайта – AristStudio</p>
                </div>
            </div>
        </div>
    </div>
</footer>