<button id="backToTop" title="Вернуться наверх">↑</button>

<div class="mobile-menu">
    <button class="close">×</button>

    <div class="mobile-contact flex-column">
        <p class="text-muted">Москва и Московская область</p>

        <p class="link-icon link-phone">
            <img src="img/phone.png" alt="">
            <a href="tel:+7 952 248 57 10">+7 952 248 57 10</a>
        </p>

        <p class="text-muted">работаем ежедневно с 10:00</p>

        <p class="link-icon">
            <svg width="14" height="14" viewBox="0 0 14 14">
                <use href="./img/sprite.svg#include--mail"
                    xlink:href="./img/sprite.svg#include--mail" />
            </svg>
            <a href="mailto:gourmetshop-present@yandex.ru">gourmetshop-present@yandex.ru</a>
        </p>

        <p class="link-icon">
            <svg width="14" height="14" viewBox="0 0 14 14">
                <use href="./img/sprite.svg#include--mail"
                    xlink:href="./img/sprite.svg#include--mail" />
            </svg>
            <a href="mailto:winetravel@gourmetshop.ru">winetravel@gourmetshop.ru</a>
        </p>

        <div class="flex-row messanger">
            <p class="link-icon">
                <svg width="15" height="15" viewBox="0 0 15 15">
                    <use href="./img/sprite.svg#include--whatsapp"
                        xlink:href="./img/sprite.svg#include--whatsapp" />
                </svg>
                <a href="#">WhatsApp</a>
            </p>

            <p class="link-icon">
                <svg width="16" height="13" viewBox="0 0 16 13">
                    <use href="./img/sprite.svg#include--tlg"
                        xlink:href="./img/sprite.svg#include--tlg" />
                </svg>
                <a href="#">Telegram</a>
            </p>
        </div>

        <p class="socials">
            <a href="#">
                <svg viewBox="0 0 100 100">
                    <use href="./img/sprite.svg#include--vk"
                        xlink:href="./img/sprite.svg#include--vk" />
                </svg>
            </a>
            <a href="#">
                <svg viewBox="0 0 100 100">
                    <use href="./img/sprite.svg#include--inst"
                        xlink:href="./img/sprite.svg#include--inst" />
                </svg>
            </a>
            <a href="#">
                <svg viewBox="0 0 19 19">
                    <use href="./img/sprite.svg#include--rutube"
                        xlink:href="./img/sprite.svg#include--rutube" />
                </svg>
            </a>
            <a href="#">
                <svg viewBox="0 0 19 19">
                    <use href="./img/sprite.svg#include--zen"
                        xlink:href="./img/sprite.svg#include--zen" />
                </svg>
            </a>
        </p>
    </div>

    <nav>
        <ul class="menu-nav">
            <li class="menu-nav__item">
                <a href="#">О нас</a>
            </li>
            <li class="menu-nav__item">
                <a href="tasting.html">Выездные дегустации и винные игры</a>
            </li>
            <li class="menu-nav__item">
                <a href="tasting.html">Онлайн дегустации</a>
            </li>
            <li class="menu-nav__item">
                <a href="tasting.html">Аренда площадки</a>
            </li>
        </ul>
    </nav>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="js/libs.min.js"></script>
<script src="js/main.min.js"></script>
