<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="index.html" class="logo">
                <picture>
                    <source srcset="img/logo.webp" type="image/webp">
                    <img src="img/logo.png" alt="Логотип">
                </picture>
            </a>

            <div class="header__content">
                <div class="header__contacts">
                    <div class="col">
                        <p class="link-icon">
                            <svg width="14" height="14" viewBox="0 0 14 14">
                                <use href="./img/sprite.svg#include--mail"
                                    xlink:href="./img/sprite.svg#include--mail" />
                            </svg>
                            <a href="mailto:gourmetshop-present@yandex.ru">gourmetshop-present@yandex.ru</a>
                        </p>

                        <p class="link-icon">
                            <svg width="14" height="14" viewBox="0 0 14 14">
                                <use href="./img/sprite.svg#include--mail"
                                    xlink:href="./img/sprite.svg#include--mail" />
                            </svg>
                            <a href="mailto:winetravel@gourmetshop.ru">winetravel@gourmetshop.ru</a>
                        </p>

                        <p class="text-muted flex-row">
                            <span>#выездныедегустации</span>
                            <span>#винныеигры</span>
                        </p>
                    </div>

                    <div class="col">
                        <p class="text-muted">Москва и Московская область</p>

                        <p class="link-icon link-phone">
                            <img src="img/phone.png" alt="">
                            <a href="tel:+7 952 248 57 10">+7 952 248 57 10</a>
                        </p>

                        <p class="text-muted">ежедневно с 10:00</p>
                    </div>

                    <div class="col">
                        <p class="link-icon">
                            <svg width="15" height="15" viewBox="0 0 15 15">
                                <use href="./img/sprite.svg#include--whatsapp"
                                    xlink:href="./img/sprite.svg#include--whatsapp" />
                            </svg>
                            <span>Написать в <a href="#">WhatsApp</a> 24/7</span>
                        </p>

                        <p class="link-icon">
                            <svg width="16" height="13" viewBox="0 0 16 13">
                                <use href="./img/sprite.svg#include--tlg"
                                    xlink:href="./img/sprite.svg#include--tlg" />
                            </svg>
                            <span>Написать в <a href="#">Telegram</a> 24/7</span>
                        </p>

                        <p class="socials">
                            <a href="#">
                                <svg viewBox="0 0 100 100">
                                    <use href="./img/sprite.svg#include--vk"
                                        xlink:href="./img/sprite.svg#include--vk" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg viewBox="0 0 100 100">
                                    <use href="./img/sprite.svg#include--inst"
                                        xlink:href="./img/sprite.svg#include--inst" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg viewBox="0 0 19 19">
                                    <use href="./img/sprite.svg#include--rutube"
                                        xlink:href="./img/sprite.svg#include--rutube" />
                                </svg>
                            </a>
                            <a href="#">
                                <svg viewBox="0 0 19 19">
                                    <use href="./img/sprite.svg#include--zen"
                                        xlink:href="./img/sprite.svg#include--zen" />
                                </svg>
                            </a>
                        </p>
                    </div>
                </div>

                <nav>
                    <ul class="menu-nav">
                        <li class="menu-nav__item">
                            <a href="#">О нас</a>
                            <ul class="sub-menu">
                                <li><a href="item.html">Винный квиз</a></li>
                                <li><a href="item.html">Винное казино</a></li>
                                <li><a href="item.html">Слепая дегустация</a></li>
                            </ul>
                        </li>
                        <li class="menu-nav__item">
                            <a href="tasting.html">Выездные дегустации и винные игры</a>
                            <ul class="sub-menu">
                                <li><a href="item.html">Винный квиз</a></li>
                                <li><a href="item.html">Винное казино</a></li>
                                <li><a href="item.html">Слепая дегустация</a></li>
                            </ul>
                        </li>
                        <li class="menu-nav__item">
                            <a href="tasting.html">Наборы</a>
                            <ul class="sub-menu">
                                <li><a href="item.html">Винный квиз</a></li>
                                <li><a href="item.html">Винное казино</a></li>
                                <li><a href="item.html">Слепая дегустация</a></li>
                            </ul>
                        </li>
                        <li class="menu-nav__item">
                            <a href="tasting.html">Онлайн дегустации</a>
                            <ul class="sub-menu">
                                <li><a href="item.html">Винный квиз</a></li>
                                <li><a href="item.html">Винное казино</a></li>
                                <li><a href="item.html">Слепая дегустация</a></li>
                            </ul>
                        </li>
                        <li class="menu-nav__item">
                            <a href="tasting.html">Услуги дополнительные</a>
                            <ul class="sub-menu">
                                <li><a href="item.html">Винный квиз</a></li>
                                <li><a href="item.html">Винное казино</a></li>
                                <li><a href="item.html">Слепая дегустация</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
