.header {
    padding: 22px 0 11px;
    line-height: 1.5;

    .logo {
        display: inline-block;
        margin-right: 30px;
    }

    &__inner {
        display: flex;
    }

    &__content {
        flex: 1;
    }

    &__contacts {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        font-weight: 500;

        .flex-row {
            gap: 10px;
        }

        p {
            margin-top: 0;
        }
    }
}

.link-icon {
    display: flex;
    align-items: center;
    gap: 10px;

    [href^='tel:'] {
        font-size: 15px;
        font-weight: 600;
    }
}

.menu-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 14px;

    &__item {
        position: relative;
        flex: 1 auto;

        &:hover {
            & > a {
                background-color: #7a0000c4;
                color: #fff;

                &::after {
                    filter: brightness(0) invert(1);
                    transform: rotate(180deg);
                }
            }

            & > .sub-menu {
                opacity: 1;
                pointer-events: all;
                transform: none;
            }
        }

        &:first-child {
            .sub-menu {
                left: 0;
            }
        }

        &:nth-child(n+2) > a {
            border-left: 1px solid;
        }

        & > a {
            border-top: 1px solid;
            border-bottom: 1px solid;
            border-color: var(--text-black);
            color: inherit;
            display: inline-block;
            padding: 15px 20px;
            padding-right: 31px;
            font-weight: 500;
            text-decoration: none;
            width: 100%;

            &::after {
                content: '';
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIzIiB2aWV3Qm94PSIwIDAgNiAzIiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4zODA5NSAwLjA5MDI4NTRDNS41MzgxOSAtMC4wNDQ0OTc2IDUuNzc0OTMgLTAuMDI2Mjg3MSA1LjkwOTcxIDAuMTMwOTZDNi4wNDQ1IDAuMjg4MjA3IDYuMDI2MjkgMC41MjQ5NDMgNS44NjkwNCAwLjY1OTcyNkwzLjI0NDA1IDIuOTA5NzJDMy4xMDM2MSAzLjAzMDA5IDIuODk2MzkgMy4wMzAwOSAyLjc1NTk1IDIuOTA5NzJMMC4xMzA5NiAwLjY1OTcyNkMtMC4wMjYyODcxIDAuNTI0OTQzIC0wLjA0NDQ5NzYgMC4yODgyMDcgMC4wOTAyODU0IDAuMTMwOTZDMC4yMjUwNjggLTAuMDI2Mjg3MSAwLjQ2MTgwNSAtMC4wNDQ0OTc2IDAuNjE5MDUyIDAuMDkwMjg1NEwzIDIuMTMxMUw1LjM4MDk1IDAuMDkwMjg1NFoiIGZpbGw9IiMxMjEyMTIiLz4KPC9zdmc+Cg==");
                background-repeat: no-repeat;
                background-size: contain;
                display: inline-block;
                position: absolute;
                top: 25px;
                right: 18px;
                width: 7px;
                height: 4px;
                transform: none;
                transition: transform .2s;
            }
        }
    }
}

.sub-menu {
    background-color: #7a0000c4;
    color: #fff;
    font-size: 14px;
    padding: 15px 27px;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 1px;
    z-index: 5;
    min-width: 250px;
    white-space: nowrap;

    pointer-events: none;
    opacity: 0;
    transform: translateY(15px);
    transition: .2s ease;

    li {
        &:not(:last-child) a {
            border-bottom: 1px solid #ffffff7a;
        }

        & > a {
            display: block;
            padding: 8px 0;
            color: #fff;
            text-decoration: none;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }
}