<header class="header">
    <div class="container">
        <div class="header__inner">
            <a href="/" class="logo">
                <svg width="169" height="176" viewBox="0 0 169 176">
                    <use href="./img/sprite.svg#include--logo"
                        xlink:href="./img/sprite.svg#include--logo" />
              </svg>
            </a>

            <div class="header__content">
                <div class="header__contacts">
                    <div class="col">
                        <p class="text-muted">Москва и Санкт-Петербург</p>

                        <p class="link-icon">
                            <svg width="14" height="14" viewBox="0 0 14 14">
                                <use href="./img/sprite.svg#include--mail"
                                    xlink:href="./img/sprite.svg#include--logo" />
                            </svg>
                            <a href="mailto:gourmetshop-present@yandex.ru">gourmetshop-present@yandex.ru</a>
                        </p>

                        <p class="link-icon">
                            <svg width="14" height="14" viewBox="0 0 14 14">
                                <use href="./img/sprite.svg#include--mail"
                                    xlink:href="./img/sprite.svg#include--logo" />
                            </svg>
                            <a href="mailto:winetravel@gourmetshop.ru">winetravel@gourmetshop.ru</a>
                        </p>
                    </div>

                    <div class="col">
                        <p class="link-icon">
                            <img src="img/phone.png" alt="">
                            <a href="tel:+7 952 248 57 10">+7 952 248 57 10</a>
                        </p>

                        <p class="link-icon">
                            <img src="img/phone.png" alt="">
                            <a href="tel:+7 812 987 76 18">+7 812 987 76 18</a>
                        </p>

                        <p class="text-muted">ежедневно с 10.00 до 20.00</p>
                    </div>

                    <div class="col">
                        <p class="link-icon">
                            <svg width="15" height="15" viewBox="0 0 15 15">
                                <use href="./img/sprite.svg#include--whatsapp"
                                    xlink:href="./img/sprite.svg#include--logo" />
                            </svg>
                            <span>Написать в <a href="#">WhatsApp</a> 24/7</span>
                        </p>

                        <p class="link-icon">
                            <svg width="16" height="13" viewBox="0 0 16 13">
                                <use href="./img/sprite.svg#include--tlg"
                                    xlink:href="./img/sprite.svg#include--logo" />
                            </svg>
                            <span>Написать в <a href="#">Telegram</a> 24/7</span>
                        </p>

                        <p></p>
                    </div>
                </div>

                <nav></nav>
            </div>
        </div>
    </div>
</header>
